a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: #f8f9f9;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d5d8dc;
  align-items: center;
  width: 100%;
  padding: 0 20px 0 0;
}
.nav-link {
  color: black;
}
.form-section {
  max-width: 500px;
  margin: 0 auto;
  /* background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ); */
  padding: 59px 24px 116px 16px;
  border-radius: 3px;
  background-color: #cfd8dc;
}

.wrap {
  width: 100%;
  background-color: #ecf0f1;
  height: 100vh;
  padding-top: 100px;
}
.acount {
  text-align: right;
}
.already {
  font-style: italic;
  padding-left: 10px;
}
.logout button {
  background: lightblue;
  color: white;
  padding: 7px 14px 7px 16px;
  text-decoration: none;
  border-radius: 5px;
  border: unset;
}
.user-status {
  width: 10px;
  height: 10px;
  background-color: brown;
  border-radius: 50%;
  /* padding-right: 30px; */
  margin-right: 30px;
  margin-top: 10px;
}
.online {
  background-color: green;
}
.offline {
  background-color: brown;
}
.user-detail {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.home-user {
  width: 30%;
  border-right: 2px solid lightgray;
}
.messages-container {
  width: 70%;
  position: relative;
}
.home-container {
  height: 477px;
  border-bottom: 2px solid lightgray;
  background-color: #f8f9f9;
  max-width: 818px;
  margin: 0 auto;
}
.messages-form {
  position: absolute;
  left: 0%;
  bottom: -3px;
  width: 100%;
}
.input-field {
  width: 82%;
  height: 47px;
}
.send-btn {
  width: 102px;
  height: 48px;
  border: 1px solid;
  background: lightgray;
  color: white;
  margin-top: -6px;
  margin-left: -1px;
}
h3 {
  text-align: center;
  text-transform: capitalize;
  color: black;
  margin-top: 4px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
}
h6 {
  margin-bottom: 0 !important;
}
.message-wrapper {
  margin-bottom: 10px;
}
.own {
  text-align: right;
}
.me {
  display: inline-block;
  background: antiquewhite;
  width: 393px;
  border-radius: 6px;
  text-align: left;
  display: inline-block;
  background: antiquewhite;
  max-width: 393px;
  border-radius: 6px;
  text-align: left;
  padding: 6px 2px 9px 10px;
}
.msg-time {
  text-align: right;
}
.friend {
  display: inline-block;
  background: antiquewhite;
  max-width: 393px;
  border-radius: 6px;
  text-align: left;
  display: inline-block;
  background: lightblue;
  max-width: 393px;
  border-radius: 6px;
  text-align: left;
  padding: 6px 7px 9px 10px;
}
.messages {
  /* margin: 110px 0; */

  overflow-y: scroll;
  height: 405px;
  padding: 2px;
}
.messages::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}
.messages::-webkit-scrollbar-thumb {
  background-color: gray;
}
.messages::-webkit-scrollbar-thumb {
  background-color: lightgray; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}
